# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]

# Virtual environments
env/
venv/
ENV/

# OS files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Environment/config files
*.env
.env